@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 68% 10%;
    --foreground: 210 40% 96%;
    --card: 220 60% 15%;
    --card-foreground: 210 40% 96%;
    --popover: 220 60% 15%;
    --popover-foreground: 210 40% 96%;
    --primary: 76 100% 65%;
    --primary-foreground: 220 68% 10%;
    --secondary: 215 56% 20%;
    --secondary-foreground: 210 40% 96%;
    --muted: 215 40% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 76 100% 65%;
    --accent-foreground: 220 68% 10%;
    --destructive: 10 100% 67%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 40% 25%;
    --input: 215 40% 25%;
    --ring: 76 100% 65%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground bg-[#071325];
    background-color: #071325;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: -400;
  }
}

.animate-dash {
  animation: dash 22s linear infinite;
}
